.bitty-editor { 
  font-family:   'Menlo', 'Monaco', 'Lucida Console', monospace;
  font-size:     12px; 
  outline:       none; 
  height:        100vh;
  display:       block;
  overflow-y:    auto; 
  white-space:   pre-wrap;
  z-index:       1;
  font-size:     1rem;
  position:      absolute;
  color:         #ccc;
  width:         100%;
  /*color:         #6fb3d2;*/
}

.bitty-editor div { 
  position: relative; 
  display:block;
  background:rgba(0,0,0,.65);
  width:fit-content;
}

::highlight(keywords)  { color:#000; background-color:rgba(255,255,255,.5); }
::highlight(variables) { color:#ccc }
::highlight(comments)  { font-style:italic; color:#aaa }
::highlight(numbers)   { color:#ccc; }
::highlight(operators) { color:#fff; }

/* active line highlight */
.bitty-active { background:#444 }
