html {
  margin:0
}

&1b {
  color:#bbb;
}

a img {
  filter: invert(100%);
  width:3rem;
  height:3rem;
}

a { color:white; }

a:visited { color: gray }

header select {
  position:relative;
  margin-top:1rem;
  vertical-align:top
}
header{
  position:absolute;
  top:0;
  right:0;
}

body {
  margin:0;
  padding:0;
  background:black;
}

canvas {
  width:100%;
  height:100%;
  position:fixed;
  top:0; left:0;
}

.cm-editor {
  position:absolute !important;
  background-color:transparent;
  top:0;
}

.cm-line {
  display:inline-block;
  background-color:rgba(0,0,0,.65);
  width:fit-content;
}

.cm-gutters {
  background-color:rgba(0,0,0,.5) !important;
}

.cm-activeLine {
  background-color:rgba(0,0,0,.85) !important;
}

.cm-focused { outline:none !important }
@keyframes slidein {
  from {
    translate: 0 -150vw;
  }

  to {
    translate: 0 0;
  }
}
@keyframes slideout {
  from {
    translate: 0 0;
  }

  to {
    translate: 0 -150vw;
  }
}
.intro {
  width:50rem; 
  display:block; 
  left:calc(50% - 25rem); 
  top:0; 
  z-index:100; 
  background:rgba(0,0,0,.85); 
  color:white; 
  position:absolute; 
  font-size:1.25rem; 
  font-family:sans-serif; 
  box-sizing:border-box; 
  border:3px solid white; 
  padding:2rem;
}
.enter {
  animation: 1s slidein;
}
.exit {
  animation: 1s slideout;
}


.intro pre { display:inline; }
